<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Acceptable Risk LA is a Los Angeles-based collective established in 2018 by a group of artists and curators
                coming together after working through the Torrance Art Museum's inaugural FORUM mentorship program.
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                We represent many different sections of this sprawling city and its many cultures, and are working together
                to enable even more people to come together to experience art.
            </p>
        </div>
    </div>
</section>