<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="section-heading text-center">About</h2>
               		<p>
               		Acceptable Risk LA is a Los Angeles-based artist collective established by former members of the FORUM 
                	mentorship program at the Torrance Art Museum.  This cohort of artists, curators, and writers is focused 
                	on staging exhibitions and activities that challenge current ideas about art practices, collective models
               		for art world engagement, and the contemporary art world at large.  ARLA’s work thus far has been 
                	nomadic, spread throughout LA and mirroring the sprawl of the city, but the group plans to eventually establish 
                	a centralized project space while continuing to produce pop-up events.
            		</p>
                </div>
            </div>
        <div class="col-sm-12">
            
    </section>