<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               Acceptable Risk LA is a Los Angeles-based artist collective established by former members of the FORUM 
                mentorship program at the Torrance Art Museum.  This cohort of artists, curators, and writers is focused 
                on staging exhibitions and activities that challenge current ideas about art practices, collective models
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
               	for art world engagement, and the contemporary art world at large.  ARLA’s work thus far has been 
                nomadic, spread throughout LA and mirroring the sprawl of the city, but the group plans to eventually establish 
                a centralized project space while continuing to produce pop-up events.

            </p>
        </div>
    </div>
</section>