<section class="container container-members">
    <div class="row">
        <div class="col-md-12">
            <h1>Members</h1>
        </div>
        <!--<div class="col-sm-12">-->
        <div class="col-sm-12 col-md-6">
            <!--<p><a href = "http://www.alexisbolter.com/">Alexis Alicette Bolter</a></p> -->
            <p><a href = "http://www.emilybabette.com/">Emily Babette</a></p>
            <p><a href = "https://cargocollective.com/GabbahBaya">Gabbah Baya</a></p>
            <p><a href = "http://carlychubak.com/">Carly Chubak</a></p>
            <p><a href = "https://seacully.com/">Sean Cully</a></p>
            <p><a href = "https://mirandajfriedman.com/">Miranda J. Friedman</a></p>
        </div>
        
        <div class="col-sm-12 col-md-6">
            <p><a href = "https://centralserver.biz/">Joshua Oduga</a></p>
            <p><a href = "https://www.instagram.com/mummers22/">Tu Nguyen</a></p>
            <p><a href = "http://stephaniesherwoodart.com/">Stephanie Sherwood</a></p>
            <p><a href = "http://www.kshanks.com/">Katie Shanks</a></p>
            <p><a href = "http://katesikorski.com/">Kate Sikorski</a></p>
        </div>
        
    </div>
</section>
